.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.modal-close {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    padding: 0.5em;
    border: none;
    border-radius: 30%;
    background-color: #4c007d;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    transform: scale(1.1);
}

.is-open {
    display: flex;
}